<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeavyLux - Repuestos e Iluminación</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <!--BARRA SUPERIOR-->
   <div class="top-bar">
      <p>ENVIOS A TODO EL META · WHATSAPP +57 313 734 9236 · LUN-SÁB 8AM-6PM </p>
   </div>
    <!--NAVEGACIÓN-->
<nav class="navbar">
    <div class="logo">
        <div class="logo-bars">
            <div class="logo-bar"></div>
            <div class="logo-bar"></div>
        </div>
        <div class="logo-text">
            <span class="logo-heavy">HEAVY</span>
            <span class="logo-LUX">LUX</span>
        </div>
    </div>
      <ul class="nav-links">
            <li><a href="/">INICIO</a></li>
            <li><a href="/catalogo">CATÁLOGO</a></li>
            <li><a href="/cotizar">COTIZAR</a></li>
            <li><a href="/nosotros">NOSOTROS</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
      </ul>
      <div class="navbar-actions">
            <a href="/cuenta" class="navbar-icon">👤 CUENTA</a>
            <a href="/carrito" class="navbar-icon btn-carrito">🛒 CARRITO</a>
      </div>
</nav>
    <!--HERO-->
    <section class="hero">
    <div class="hero-content">
        <p class="hero-sub">Acacias, Meta · Colombia</p>
        <h1>Repuestos e iluminacion para tu<span> vehiculo</span></h1>
        <p>Cotiza en linea y recibe en tu municipio.</p>
        <div class="hero-buttons">
         <a href="/catalogo" class="btn-primary">Ver ctálogo</a>
         <a href="/cotizar" class="btn-secondary">Cotizar ahora</a>
        </div>
    </div>
   
    </section>
    <!--CATEGORIAS-->
    <section class="categorias">
        <h2>Categorias principales</h2>
        <div class="categorias-grid">
         <div class="categoria-card">
            <h3>Repuestos</h3>
         </div>  
         <div class="categoria-card">
            <h3>Iluminacion LED</h3>
         </div>
         <div class="categoria-card">
            <h3>Lujos y accesorios</h3>
         </div> 
         <div class="categoria-card">
            <h3>Suspensión</h3>
         </div>
         <div class="categoria-card">
            <h3>Dirección</h3>
         </div>
         <div class="categoria-card">
            <h3>Transmisión</h3>
         </div>
        </div>
    </section>
    <!-- FOOTER -->
     <footer class="footer">
        <p><span class="logo-heavy">HEAVY</span><span class="logo-lux">LUX</span></p>
        <p>Acacías, Meta · heavylux@gmail.com</p>
        <p>© 2026 HeavyLux · Todos los derechos reservados</p>
     </footer>
</body>
</html>